body {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.appMain {
  min-width: 1000px;
  min-height: 95vh;
  background-color: white;
  display: flex;
  justify-content: start;
  margin-top: 30px;
  align-items: center;
  color: black;
  flex-direction: column;
}
.titleP {
  margin: 0 0 7px 0;
  padding: 0;
}
